.box {
  animation: fadeUp linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(40px) scale(0.5);
  }

  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
