@import "tailwindcss";

#bottom{
    background: linear-gradient(transparent,black);
}

*{
    font-family: 'helvetica neue';
}

:root{
    --c1:rgb(7, 35, 67);
    --c2:rgb(20, 65, 117);
    --c3:rgb(29, 84, 108);
    --c4:rgb(244, 244, 244);

}


.box {
  opacity: 0;
  transform: translateY(60px);
  animation: slideUp 0.6s ease-out forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
}

@keyframes slideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
